<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Spring.IocQuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Spring.IocQuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Name_fromAppSettings" value="Betty" />
    <add key="Age_fromAppSettings" value="34" />
  </appSettings>
  
  <applicationSettings>
    <Spring.IocQuickStart.Properties.Settings>
      <setting name="Name_fromApplicationSettings" serializeAs="String">
        <value>Peggy</value>
      </setting>
      <setting name="Age_fromApplicationSettings" serializeAs="String">
        <value>29</value>
      </setting>
    </Spring.IocQuickStart.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Spring.IocQuickStart.Properties.Settings>
      <setting name="Name_fromUserSettings" serializeAs="String">
        <value>Peter</value>
      </setting>
      <setting name="Age_fromUserSettings" serializeAs="String">
        <value>31</value>
      </setting>
    </Spring.IocQuickStart.Properties.Settings>
  </userSettings>
</configuration>