<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spring.IocQuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spring.IocQuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="DonConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <DonConfiguration>
    <add key="don_name" value="Dick Whitman"/>
    <add key="don_age" value="41" />
  </DonConfiguration>

  <appSettings>
    <add key="betty_name" value="Betty Francis"/>
    <add key="betty_age" value="34"/>
  </appSettings>
  
  <applicationSettings>
    <Spring.IocQuickStart.Properties.Settings>
      <setting name="peggy_name" serializeAs="String">
        <value>Peggy Olson</value>
      </setting>
      <setting name="peggy_age" serializeAs="String">
        <value>29</value>
      </setting>
    </Spring.IocQuickStart.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Spring.IocQuickStart.Properties.Settings>
      <setting name="peter_name" serializeAs="String">
        <value>Peter Campbell</value>
      </setting>
      <setting name="peter_age" serializeAs="String">
        <value>31</value>
      </setting>
    </Spring.IocQuickStart.Properties.Settings>
  </userSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
